/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.shop-container {
    display: grid;
    grid-template-columns: 4fr 0.9fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin: 100px 50px;
}

/* cart section */
.cart-container {
    background-color: #FFE0B3;
    justify-content: center;
    align-items: center;

}

.cart-container h5 {
    color: #1C2B35;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    margin-top: 28px;
    text-align: center;
}

.order-details {
    margin-left: 23px;
    margin-top: 50px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #1C2B35;
    font-family: 'Lato', sans-serif;
}

.order-details p {
    color: #2A414F;
    margin-top: 25px;
    font-family: 'Lato', sans-serif;

}

.order-details h6 {
    font-weight: 400;
    font-size: 21px;
    margin-top: 25px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
    font-family: 'Lato', sans-serif;
}

/* buttons */
.btns {
    align-items: center;
    justify-content: center;
    text-align: center;
}

button p {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #FFFFFF;

}

.clear-cart-btn {
    margin-top: 57px;
    background-color: #FF3030;
    border: none;
    border-radius: 4px;
    width: 225px;
    height: 48px;
}

.review-order-btn {
    margin-top: 16px;
    background-color: #FF9900;
    border: none;
    border-radius: 4px;
    width: 225px;
    height: 48px;
}