/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C2B35;
    height: 80px;
    padding-left: 7.79%;
    padding-right: 6.74%;

}

.header a {
    font-family: 'Lato', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    margin-left: 32px;
}

.header a:hover {
    color: #ff9900;
}