.form-container {
    width: 500px;
    height: 600px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;

    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.form-title {
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    color: #2A414F;
    padding-top: 38px;
    text-align: center;
}


/* ================================ */

.form {
    margin-top: 29px;
}

.input-group {
    margin-top: 20px;
}

.input-group label {
    display: block;
}

.input-group input {
    width: 415px;
    height: 54px;
    margin-top: 9px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    padding: 0px 10px;
    box-sizing: border-box;
    font-size: 21px;
    font-weight: 400;
}


/* ================================ */

.form-submit {
    background-color: rgba(255, 153, 0, 0.3);
    width: 415px;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-size: 21px;
    margin-top: 44px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: rgba(255, 153, 0, 0.5);
}

.form-text {
    color: #2A414F;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-link {
    color: rgba(255, 153, 0, 1);
    text-decoration: none;
}


/* ================================ */
.form-or-line {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-or-line div {
    border-bottom: 1px solid #95A0A7;
    height: 1px;
    width: 30%;
}

.form-or-line span {
    color: #2A414F;
    font-size: 17px;
    padding: 0 15px;
}

/* --------------------- */
.form-error {
    color: rgb(231, 76, 29);
    margin-top: 10px;
    margin-left: 12px;
}

.form-success {
    color: green;
    margin-top: 10px;
    margin-left: 12px;
}